
<h3>Quick Find Pod</h3>

<form action='/perl/find_pod' method='GET'>
<p>Module Name: <input type='text' name='module' size='32' />
<input type='submit' /></p>
</form>

<h3>View Perl Source Code</h3>

<form action='/perl/view_source' method='GET'>
<p>Module Name: <input type='text' name='module' size='32' />
<input type='submit' /></p>
</form>

[% IF IS_WIN32 %]
<h3>Find and Install Perl Module PPD (Win32 ONLY)</h3>

<form action='/perl/find_ppd' method='GET'>
<p>Module Name: <input type='text' name='module' size='32' />
<input type='checkbox' name='install' value='1' /> Install
<input type='submit' /></p>
</form>
[% END %]

[% IF content %]
<h3>[% from %]</h3>
<pre>
[% content | html %]
</pre>
[% END; %]